{% extends 'nav.html' %}
{% block title%} {% endblock%}
{% block content%}
<div class="row m-0 p-0" style="height: 80vh;">
    <div class="col-md-4 p-3 text-center overflow-y-hidden"><img src="{{product.image.url}}" alt="" height="400px"></div>
    <div class="col-md-8 bg-light p-4">
        <h3>{{product.name}}</h3>
        <h4>₹{{product.price}}</h4>

        <div>{{product.product_des | safe}}</div>
        <form class="d-flex mt-2" action="/add-to-cart" method="GET">
            <input type="text " hidden name="prdt" value="{{product.id}}">
            <a href="" class="btn btn-primary me-3">Buy</a>
            <button type="Submit" class="btn btn-primary">Add To Cart</button>
        </form>
    </div>
</div>
{% endblock %}